<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net" version="0.1.0" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.4" targetFramework="net471" />
  <package id="MailKit" version="2.1.0.3" targetFramework="net471" />
  <package id="Microsoft.Xml.SgmlReader" version="1.8.14" targetFramework="net45" />
  <package id="MimeKit" version="2.1.1" targetFramework="net471" />
  <package id="MySqlConnector" version="0.48.2" targetFramework="net471" />
  <package id="SharpCompress" version="0.22.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.1" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net471" />
</packages>